* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    padding: 15px;
    max-width: 640px;
    margin: 0 auto;
}
.gallery-wrapper{
    overflow-x: auto;
    overflow-x: hidden;
}

.gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
} 

.arrow-left,
.arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 40px;
    text-align: center;
    cursor: pointer;
    border: none;
}

.arrow-right{
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    bottom: 0;
}

.item {
    width: 250px;
    height: 250px;
    flex-shrink: 0;
}

